.tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

.searchInput,
.tt-query,
.tt-hint {
    width: 100%;
    height: 50px;
    padding: 8px 12px;
    font-size: 18px;
    line-height: 50px;
    border: none;
    outline: none;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-highlight {
    color: #0097cf;
}

.tt-menu {
    width: 100%;
    padding: 8px 0;
    background-color: #fff;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion:hover .tt-highlight {
    color: #fff;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}


.Typeahead-spinner {
    display: inline;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 38px;
    height: 100%;
}