<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generic Substitute</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="./assets/css/main.css" rel="stylesheet">
</head>

<body>
   
    <div id="header-region"></div>
    <div id="main-region" class="container">

    </div>
    <script type="text/template" id="search-layout-template">
        <div id='search'></div>
    </script>
    <script type="text/template" id="show-layout-template">
        <section id="sidebar" class="col-sm-3">
            <div class="mcard-container">
                <div class="mcard">
                    <div class="mcard-title mcard-title-center">Recently Viewed</div>
                    <div id="recently-viewed-region" class="mcard-content row"></div>
                </div>
            </div>
        </section>
        <section id="content" class="row col-sm-9">
            <div class="col-xs-12">
                <div class="mcard-container">
                    <div class="mcard">
                        <div id="title-region" class="mcard-content row"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="mcard-container">
                    <div class="mcard">
                        <div class="mcard-title mcard-title-center">Details</div>
                        <div id="details-region" class="mcard-content row"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="mcard-container">
                    <div class="mcard">
                        <div class="mcard-title mcard-title-center">Cheapest Substitutes</div>
                        <div id="cheapest_substitutes-region" class="mcard-content clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="mcard-container">
                    <div class="mcard">
                        <div class="mcard-title mcard-title-center">Substitutes</div>
                        <div id="substitutes-region" class="mcard-content row"></div>
                    </div>
                </div>
            </div>
        </section>
    </script>

    <script type="text/template" id="title-template">
        <h3><%= medicine.brand %> <span class="label label-warning"><%= medicine.category %></span></h3>
    </script>

    <script type="text/template" id="details-template">
        <span class="details-item col-sm-6"><span class='tag'>Brand:</span>
        <%= medicine.brand %>
            </span>
            <span class="details-item col-sm-6"><span class='tag'>Manufacturer:</span>
            <%= medicine.manufacturer %>
                </span>
                <span class="details-item col-sm-6"><span class='tag'>Price:</span>
                <%= medicine.package_price %>
                    </span>
                    <span class="details-item col-sm-6"><span class='tag'>Package Quantity:</span>
                    <%= medicine.package_qty %>
                        </span>
                        <div class="details-item col-sm-12">
                            <span class='tag'>Constituents(Strength): </span>
                            <div class='constituents'><%=constituents.map(function(item){return "<span class='constituent'>"+item.name.trim()+"("+item.strength.trim()+")</span>";}).join("") %></div>
                        </div>
    </script>

    <script type="text/template" id="cheapest-substitutes-list-template">
        <a href='<%=url%>'>
            <h4><%= brand %></h4>
        </a>
        <%= unit_price %>
    </script>
    
    <script type="text/template" id="cheapest_substitute-chart-template">
        <div id="chart-region" class="col-sm-12">

        </div>
        <span class="glyphicon glyphicon-thumbs-up text-success"></span>
    </script>

    <script type="text/template" id="cheapest_substitute-template">
        <div id="chart-region" class="col-sm-6">

        </div>
        <div id="substitutes-list-region" class="col-sm-6">

        </div>
    </script>

  

    <script type="text/template" id="substitutes-template">
        <div id="table-region">

        </div>
    </script>
    <script type="text/template" id="recently-viewed-template">
        <div id="list-region">

        </div>
    </script>
    <script type="text/template" id="recently-viewed-listItem-template">
        <a href="<%=url%>" class="show">
            <%= medicine %>
        </a>
    </script>
    <script type="text/template" id="loading-template">
        <div class="cssload-loader">
            <div class="cssload-inner cssload-one"></div>
            <div class="cssload-inner cssload-two"></div>
            <div class="cssload-inner cssload-three"></div>
        </div>
    </script>
    <script type="text/template" id="header-template">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">MedicineManager</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li class="active"><a href="#">Link</a></li>-->
                </ul>
            </div>
        </div>
    </script>

    <script type="text/template" id="header-link">
        <a href="#<%= url %>">
            <%= name %>
        </a>
    </script>





    <!--<script src="./assets/js/vendor.js"></script>-->
    <script src="./assets/js/main.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
    <!-- <script src="./assets/js/client/assets/js/app.bundle.js"></script>
    <script src="./assets/js/client/assets/js/entities/substitute.bundle.js"></script>
    <script src="./assets/js/client/assets/js/entities/details.bundle.js"></script>
    <script src="./assets/js/client/assets/js/entities/recently-viewed.bundle.js"></script>
    <script src="./assets/js/client/assets/js/common/views.bundle.js"></script>
    <script src="./assets/js/client/assets/js/apps/medicines/search/search_view.bundle.js"></script>
    <script src="./assets/js/client/assets/js/apps/medicines/search/search_controller.bundle.js"></script>
    <script src="./assets/js/client/assets/js/apps/medicines/show/cheapest-substitutes/cheapest-substitute_view.bundle.js"></script>
    <script src="./assets/js/client/assets/js/apps/medicines/show/details/details_view.bundle.js"></script>
    <script src="./assets/js/client/assets/js/apps/medicines/show/recently-viewed/recently-viewed_view.bundle.js"></script>
    <script src="./assets/js/client/assets/js/apps/medicines/show/substitutes/substitutes_view.bundle.js"></script>
    <script src="./assets/js/client/assets/js/apps/medicines/show/title/title_view.bundle.js"></script>
    <script src="./assets/js/client/assets/js/apps/medicines/show/show_view.bundle.js"></script>
    <script src="./assets/js/client/assets/js/apps/medicines/show/show_controller.bundle.js"></script>
    <script src="./assets/js/client/assets/js/apps/medicines/medicine_app.bundle.js"></script>-->
</body>

</html>