.tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

.searchInput,
.tt-query,
.tt-hint {
    width: 100%;
    height: 50px;
    padding: 0px 12px;
    padding-right: 38px;
    font-size: 18px;
    border: none;
    outline: none;
}

.empty-message {
    padding: 3px 20px;
    font-size: 18px;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-highlight {
    color: $theme-color;
}

.tt-menu {
    width: 100%;
    padding: 8px 0;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
}

.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: $theme-color;
}

.tt-suggestion:hover .tt-highlight {
    color: #fff;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: $theme-color;
}

.tt-suggestion.tt-cursor .tt-highlight {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.Typeahead-spinner {
    display: inline;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 38px;
    height: 100%;
}